
<h1>The Coach has something to tell you</h1>

<h2>As a reminder.. your question was: <%= @question%></h2>
<p> - <em>you</em> <p>

<img height="500px" src="https://e0.365dm.com/22/08/1600x900/skysports-jurgen-klopp-liverpool_5876983.jpg?20220826162213">


<h1 id="question"><%= @answer %></h1>
<p> - <em>The almighty coach</em> <p>


<p><%= link_to "Ask a new question to the coach!", "/ask" %></p>
